*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item1 { grid-area: header; }
.item2 { grid-area: sidebar; }
.item3 { grid-area: content-1; }
.item4 { grid-area: content-2; }
.item5 { grid-area: content-3; }
.item6 { grid-area: footer; }


.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'sidebar sidebar content-1 content-1 content-1 content-1 '
      'sidebar sidebar content-2 content-2 content-3 content-3 '
      'footer footer footer footer footer footer';
    gap: 20px;
    background-color: #fafafa;
    padding: 20px;
}

.grid-container > div {
    border: 2px solid black;
    background-color: rgba(19, 100, 100, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    min-height: 120px;
}